<div class="container d-grid gap-1 col-12">
<div class="container-fluid" style="padding-top: 20px;">
YOU ARE HERE:
  <div id="map"
      style="width: 100%; height: 400px;"
      data-nav="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

  <mapbox-gl interactive access-token="MAPBOX_API_KEY">

  <mapbox-gl-control interactive position="top-right">

  </mapbox-gl-control>
</mapbox-gl>

  </div>
</div>
<%= render 'form', navigation: @navigation %>

</div>
