<div class="container-fluid" style="padding-top: 20px; height: 100%">
  <div id="map"
    style="width: 100%; height: 800px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">


  </div>
</div>

    <script>
      mapboxgl.accessToken = 'pk.eyJ1Ijoic2lta2FseiIsImEiOiJja3kwYjMzZXUwMWJhMnFvYWpmZ25iZ2FmIn0.IJj7GAHB1_fNJdkBMM1BXg';
      const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [5.373907, 43.294522],
      zoom: 15
      });

      var directions = new MapboxDirections({
        accessToken: mapboxgl.accessToken
      });

      map.addControl(directions,'top-left');

      map.on('load',  function() {
      directions.setOrigin([12, 23]); // can be address in form setOrigin("12, Elm Street, NY")
      directions.setDestinaion([11, 22]); // can be address
      })
    </script>
