h1, p {
  color: black;
  display: flex;
  justify-content: center;
}

p {
  font-weight: bold;
}

.cardstyle {
  margin-top: 10px !important;
  padding: 4px;
  border-radius: 10px;
  background-color: #9fd4dbfa;
}

body {
  background-color: #eaf0f1;
}

.trans {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 3px 3px 3px 3px;
  color: #9fd4dbfa;
}

a {
  text-decoration: none;
  color: #9fd4dbfa;
  
}

.title {
  padding: 5px;
  border-top: 6px solid #eaf0f1;
  margin-top: 7px;
}

#destroy {
   font-family:"Work Sans", "Helvetica", "sans-serif";
   color: #9fd4dbfa;
   font-size: 16px;
   font-weight: lighter;
   margin: 0;
   display: flex;
}