h1, p {
  color: black;
  display: flex;
  justify-content: center;
}

p {
  font-weight: bold;
  margin-top: 9px;
}

.cardstyle {
  margin-top: 10px !important;
  padding: 4px !important;
  border-radius: 10px;
  background-color: #9fd4dbfa;
}

body {
  background-color: #eaf0f1;
}

.btn {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 10px 3px 3px 3px;
}

a {
  text-decoration: none;
}

.title {
  padding: 5px;
  border-top: 6px solid #eaf0f1;
}


