.show-place {
  margin-top: 15px !important;
  border-radius: 10px 10px 0px 0px;
  padding: 20px !important;
  background-color: #9fd4dbfa;
}

.show-place-bottom {
  border-radius: 0 0 10px 10px;
  padding: 20px !important;
  background-color: #9fd4dbfa;
}


body {
  background-color: #eaf0f1;
}

input {
  border-radius: 10px !important;
}

.wrapperall {
  margin: 15px;
}
#opbut {
 color: #9fd4dbfa;
 border-radius: 10px;
}

.photo {
  object-fit: cover;
}

.photo .imageplace {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

ul {
  list-style: none;
  margin-top: 15px;
}

.backbut {
  text-align: left;
}

.back {
  color: black;
}
