#show-place {
  margin-top: 15px !important;
  border-radius: 10px;
  padding: 20px !important;
  background-color: #9fd4dbfa;
}

body {
  background-color: #eaf0f1;
}

input {
  border-radius: 10px !important;
}

.wrapperall {
  margin: 15px;
}
#opbut {
 color: #9fd4dbfa;
 border-radius: 10px;
}

.photo {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

.inline {
    display: inline-block;
    white-space: nowrap;
}
