<div class="navbar navbar-xs navbar-light navbar-lewagon w-100">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("logo.png") %> <p class="logotext"> globpacker </p>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to dashboard_path do %>
      <button type="button" class="btn-journey-customization" id="login">My profil </button>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do %>
      <button type="button" class="btn-journey-customization" id="login">Log in</button>
    <% end %>
  <% end %>
</div>
