<div class="full-page">
  <div class="logo">
    <%= image_tag("logo.png") %>
  </div>
  <div class="two-buttons">
  <%= link_to new_navigation_path do %>
    <button type="button" id="start-but">START</button>
    <% end %>
    <%= link_to new_user_session_path do %>
    <button type="button" class="login-but"> LOG IN</button>
    <% end %>
  </div>
  <div class="text">
    <p> ENJOY YOURSELF WHILE YOU HAVE TIME </p>
  </div>

</div>

