.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #000;
}


.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: auto;
}

.logotext {
  color: rgba(black, 0.7);
  font-family: 'Poiret One', cursive;
  font-weight: 600;
  margin-top: 10px;
}

.navbar-brand {
  display: flex;
}

.btn-journey-customization {
  font-family: 'Poiret One', cursive;
  font-weight: 600;
  border-radius: 3px;
  color: rgba(black, 0.7);
  border: 1px solid rgba(black, 0.7);
  background-color: $button;
}

.btn-journey-customization:hover {
 transform: scale(1.2);
}
