
<div class="container d-grid gap-1 col-12">




















<%= render 'form', place: @place, navigation: @navigation %>
<input class="form-control" type="text" placeholder="arrival_time" aria-label="Disabled input example" disabled>
<input class="form-control" type="text" value="" aria-label="Disabled input example" disabled readonly>
<input class="form-control" type="text" value="Enter your destination" aria-label="Disabled input example" disabled readonly>

</div>
